body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 2rem;
}

div {
    width: 20rem;
    height: 10rem;
    background-color: red;
    border-radius: 2rem;
    border: 2px solid black;
}

select {
    width: 100px;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
}