body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 2rem;
}

div {
    width: 20rem;
    height: 10rem;
    background-color: red;
    border-radius: 2rem;
    border: 2px solid black;
}

